{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_header.html' %}
 <!--Page Title-->
    <section class="page-title" style="background-image:url({% static '/' %}/images/background/6.jpg)">
    	<div class="auto-container">
        	<h1>Contact us</h1>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'index' %}">Home</a></li>
                <li>Contact us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <section class="contact-section">
    	<div class="auto-container">
        	<h2>You can drop us message for any querry</h2>
        	<div class="row clearfix">
            	<!--Form Column-->
            	<div class="form-column col-md-6 col-sm-12 col-xs-12">

                    <!--Contact Form-->
                    <div class="contact-form">
                        <form method="post" action="#" method="post">
                            {% csrf_token %}
                        	<!--Form Group-->
                             <div class="form-group">
                                <input type="text" name="fulle_name" class="full_name" value="" placeholder="Full Name*" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="" class="email" placeholder="Email Address*" required>
                            </div>
                            <!--Form Group-->
                            <div class="form-group">
                                <input type="text" name="subject" class="subject" value="" placeholder="Subject*" required>
                            </div>
                            <!--Form Group-->
                            <div class="form-group">
                                <textarea name="message" class="message" placeholder="Your Message*" required ></textarea>
                            </div>
                            <!--Form Group-->
                            <div class="form-group">
                                <button type="submit" id="sendmessage" class="theme-btn btn-style-two">Send Message</button>
                            </div>
                        </form>
                    </div>
                    <!--Contact Form-->

                </div>
                <!--Info Column-->
                <div class="info-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<ul>
                        	<li><span>Address:</span>{{ general_setting.address }}</li>
                            <li><span>Phone:</span>{{ general_setting.phone_number }}</li>
                            <li><span>email:</span>{{ general_setting.site_email }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

     {% include 'partials/_footer.html' %}
{% endblock %}
{% block js %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyBKS14AnP3HCIVlUpPKtGp7CbYuMtcXE2o"></script>
<script src="{% static '/' %}/js/map-script.js"></script>
    <script>
    $(document).ready(function () {
        $('#sendmessage').click(function () {
             $name = $('.full_name').val();
             $email = $('.email').val();
             $subject = $('.subject').val();
             $message = $('.message').val();
                $.ajax({
                        type: "POST",
                        url: "insert/user/message",
                        data:{
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            name: $name,
                            email: $email,
                            subject: $subject,
                            message :$message

                        },
                        success: function(){
                            $('.full_name').val('');
                            $('.email').val('');
                            $('.subject').val('');
                            $('.message').val('');
                            alert('Save Data');
                        }
                    });
        })
    })
    </script>
{% endblock %}